{# Override tmpl to "list" because otherwise AJAX calls render the whole content instead of just the raw output #}
{% set isIndex = tmpl == 'index' ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? 'MauticCoreBundle:Default:content.html.twig' : 'MauticCoreBundle:Default:raw_output.html.twig' %}
{% block mauticContent %}monitoring
{% endblock %}
{% block headerTitle %}
	{% trans %}mautic.social.monitoring{% endtrans %}
{% endblock %}

{% block actions %}
	{{- include('MauticCoreBundle:Helper:page_actions.html.twig',
    {
        'templateButtons': {
            'new': security.isGranted('mauticSocial:monitoring:create'),
        },
        'routeBase': 'social',
        'langVar': 'monitoring'
    })-}}
{% endblock %}

{% block content %}
	{% if isIndex %}
		<div class="panel panel-default bdr-t-wdh-0 mb-0">
			{{- include('MauticCoreBundle:Helper:list_toolbar.html.twig', {
        'searchValue': searchValue,
        'action': currentRoute,
    }) -}}
			<div class="page-list">
				{{ block('listResults') }}
			</div>
		</div>
	{% else %}
		{{ block('listResults') }}
	{% endif %}
{% endblock %}

{% block listResults %}
	{% if items|length %}
		<div class="table-responsive">
			<table class="table table-hover table-striped table-bordered monitoring-list" id="monitoringTable">
				<thead>
					<tr>
						{{- include('MauticCoreBundle:Helper:tableheader.html.twig', {
                            
                                'checkall'        : 'true',
                                'target'          : '#monitoringTable',
                                'langVar'         : 'mautic.social.monitoring',
                                'routeBase'       : 'social',
                                'templateButtons' : {
                                    'delete' : security.isGranted('mauticSocial:monitoring:delete'),
                                },
                            }
                        ) -}}
						{{- include('MauticCoreBundle:Helper:tableheader.html.twig',
                            {
                                'sessionVar' : 'social.monitoring',
                                'orderBy'    : 'e.title',
                                'text'       : 'mautic.core.title',
                                'class'      : 'col-monitoring-title',
                                'default'    : true,
                            }
                        ) -}}
						{{- include('MauticCoreBundle:Helper:tableheader.html.twig',
                            {
                                'sessionVar' : 'social.monitoring',
                                'orderBy'    : 'e.id',
                                'text'       : 'mautic.core.id',
                                'class'      : 'visible-md visible-lg col-asset-id',
                            }
                        )-}}
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>
								{# TODO: Enabled when find solution to name issue #}
								{{- include('MauticCoreBundle:Helper:list_actions.html.twig', {
										item : item,
										templateButtons : {
											edit   : security.isGranted('mauticSocial:monitoring:edit'),
											delete : security.isGranted('mauticSocial:monitoring:delete'),
										},
										routeBase  : 'social',
										langVar    : 'mautic.social.monitoring',
										nameGetter: 'getTitle'
									}
								) -}}
							</td>
							<td>
								<div>
									{{- include('MauticCoreBundle:Helper:publishstatus_icon.html.twig',{
                                        'item'  : item,
                                        'model' : 'social.monitoring',
                                    }
                                ) -}}
									<a href="{{ path('mautic_social_action', {'objectAction' : 'view', 'objectId' : item.getId()} ) }}" data-toggle="ajax">
										{{ item.getTitle() }}
									</a>
								</div>
								{% set description = item.getDescription() %}
								{% if description %}
									<div class="text-muted mt-4">
										<small>{{ description|raw }}
											{# TODO: Use 'purify' to prevent XSS #}
										</small>
									</div>
								{% endif %}
							</td>
							<td class="visible-md visible-lg">{{ item.getId() }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{{- include('MauticCoreBundle:Helper:pagination.html.twig', {
                'totalItems' : items|length,
                'page'       : page,
                'limit'      : limit,
                'menuLinkId' : 'mautic_campaign_index',
                'baseUrl'    : path('mautic_social_index'),
                'sessionVar' : 'social.monitoring',
                'routeBase'  : 'social',
                }
            ) -}}
		</div>
	{% endif %}
{% endblock %}
